<!DOCTYPE html>

    <%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header', {pagina: 'Sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi, sou o Luiz Felipe França Goulart, estudante de programação na rocketseat.</p>
            </div>
        </main>
    </body>

    <%- include('../partials/footer') %>

</html>